<%- include("partials/header") %>
<div class="ui main text container segment">
    <div class="ui huge header">New post</div>

    <form class="ui form" action="/blogs" method="POST">
        <div class="field">
            <label>Title</label>
            <input type="text" name="blog[title]" placeholder="title">
        </div>
        <div class="field">
            <label>Image url</label>
            <input type="text" name="blog[image]" placeholder="image url">
        </div>
        <div class="field">
            <label>Post content</label>
            <textarea required name="blog[body]"></textarea>
        </div>
        <div class="field">
            <input class="ui secondary button" type="submit" value="Add post">
        </div>
    </form>
</div>

<%- include("partials/footer") %>